<div class="container">
  <div class="card">
    <!-- search bar and buttons -->
    <div class="search">
      <input
        type="text"
        class="search-bar"
        [(ngModel)]="inputValue"
        placeholder="{{ placeHolder }}"
        (keyup.enter)="search(inputValue, false)"
      />
      <button (click)="search(inputValue, false)">
        <i
          *ngIf="!showLoading"
          class="fa-solid fa-magnifying-glass fa-2xl"
          style="color: #2196f3"
        ></i>
        <div *ngIf="showLoading" class="sbl-circ"></div>
      </button>
    </div>
    <div style="display: flex">
      <button (click)="addCard()" class="addRemove">
        <i class="fa-solid fa-plus fa-xl"></i>
      </button>
      <button
        style="margin-top: auto; margin-bottom: auto"
        class="currentLocation"
        (click)="getLocation(); inputValue = ''"
      >
        Current Location
        <i
          class="fa-solid fa-location-arrow fa-lg"
          style="padding-left: 10px; color: #2196f3"
        ></i>
      </button>
      <button (click)="removeCard()" class="addRemove">
        <i class="fa-solid fa-minus fa-xl"></i>
      </button>
    </div>
    <!-- main weather content -->
    <div *ngIf="weatherData">
      <!-- <hr /> -->
      <h2>{{ weatherData.name }}, {{ weatherData.sys.country }}</h2>
      <hr />
      <div class="heading">
        <div style="margin-top: 30px">
          <h1>{{ weatherData.main.temp | number : "1.0-0" }}{{ tempUnit }}</h1>
          <div style="margin-top: -20px; margin-bottom: 20px">
            Feels Like: {{ weatherData.main.feels_like | number : "1.0-0"
            }}{{ tempUnit }}
            <br />
            <i class="fa-solid fa-temperature-arrow-down fa-sm"></i
            >{{ weatherData.main.temp_min | number : "1.0-0" }}{{ tempUnit }} -
            {{ weatherData.main.temp_max | number : "1.0-0" }}{{ tempUnit
            }}<i class="fa-solid fa-temperature-arrow-up fa-sm"></i>
          </div>
        </div>
        <div style="display: flex; flex-direction: column">
          <img
            [src]="
              'https://openweathermap.org/img/wn/' +
              weatherData.weather[0].icon +
              '.png'
            "
            alt=""
            class="icon"
            style="margin-right: auto; margin-left: auto"
          />
          <span style="text-transform: capitalize">
            {{ weatherData.weather[0].description }}
          </span>
          <span> Humidity: {{ weatherData.main.humidity }}% </span>
        </div>
      </div>
      <hr />
      <div style="display: flex; justify-content: space-between">
        <div style="display: flex; flex-direction: column">
          <span>
            Wind: {{ weatherData.wind.speed | number : "1.0-0" }}{{ speedUnit }}
          </span>
          <span>
            Gust: {{ weatherData.wind.gust | number : "1.0-0" }}{{ speedUnit }}
          </span>
        </div>
        <!-- unit slider -->
        <label class="toggle">
          <input
            type="checkbox"
            id="check"
            name="check"
            (change)="flipSwitch()"
          />
          <span class="slider"></span>
          <span class="labels" data-on="°C" data-off="°F"></span>
        </label>
      </div>
      <!-- <hr /> -->
      <!-- <button
          (click)="forecast()"
          class="currentLocation"
          style="background-color: #2196f3"
        >
          Show Forecast
        </button>
      </div> -->
      <!-- <app-footer /> -->
    </div>
  </div>
</div>
