<div class="container">
  <div class="card">
    <app-logo />
    <!-- <hr /> -->
    <!-- search bar and buttons -->
    <div class="search">
      <input
        type="text"
        class="search-bar"
        [(ngModel)]="inputValue"
        placeholder="{{ placeHolder }}"
        (keyup.enter)="search(inputValue, false)"
      />
      <button (click)="search(inputValue, false)">
        <i *ngIf="!showLoading" class="fa-solid fa-magnifying-glass fa-xl"></i>
        <div *ngIf="showLoading" class="sbl-circ"></div>
      </button>
    </div>
    <button class="currentLocation" onclick="getLocation()">
      Current Location
      <i
        class="fa-solid fa-location-arrow fa-lg"
        style="padding-left: 10px"
      ></i>
    </button>
    <!-- main weather content -->
    <div *ngIf="weatherData">
      <!-- <hr /> -->
      <h2 style="letter-spacing: 3px; margin-bottom: 0px">
        <span style="font-size: 15px; font-weight: 100">
          {{ weatherData.main.temp_min | number : "1.0-0" }}{{ tempUnit }}
          <i class="fa-solid fa-temperature-arrow-down fa-lg"></i>
        </span>
        {{ weatherData.name }}, {{ weatherData.sys.country }}
        <span style="font-size: 15px; font-weight: 100">
          <i class="fa-solid fa-temperature-arrow-up fa-lg"></i>
          {{ weatherData.main.temp_max | number : "1.0-0" }}{{ tempUnit }}
        </span>
      </h2>
      <hr />
      <div class="heading">
        <div style="margin-top: 35px">
          <h1 class="temp">
            {{ weatherData.main.temp | number : "1.0-0" }}{{ tempUnit }}
          </h1>
          <div class="feelsLike" style="margin-top: -20px; margin-bottom: 20px">
            Feels Like: {{ weatherData.main.feels_like | number : "1.0-0"
            }}{{ tempUnit }}
          </div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            text-transform: capitalize;
          "
        >
          <img
            [src]="
              'https://openweathermap.org/img/wn/' +
              weatherData.weather[0].icon +
              '.png'
            "
            alt=""
            class="icon"
            style="margin-right: auto; margin-left: auto"
          />
          {{ weatherData.weather[0].description }}
          <br />
          Humidity: {{ weatherData.main.humidity }}%
        </div>
      </div>
      <hr />
      <div style="display: flex; justify-content: space-between">
        <div>
          <div class="wind">
            Wind Speed: {{ weatherData.wind.speed | number : "1.0-0"
            }}{{ speedUnit }}
          </div>
          <div class="gust">
            Wind Gust: {{ weatherData.wind.gust | number : "1.0-0"
            }}{{ speedUnit }}
            <i class="fa-solid fa-wind fa-lg"></i>
          </div>
        </div>
        <div>
          <label class="toggle" (click)="search(inputValue, false)">
            <input
              type="checkbox"
              id="check"
              name="check"
              [(ngModel)]="imperial"
            />
            <span class="slider"></span>
            <span class="labels" data-on="°C" data-off="°F"></span>
          </label>
        </div>
      </div>
      <hr />
    </div>
    <app-footer />
  </div>
</div>
