<div class="container">
  <div class="card">
    <app-logo />
    <!-- <hr /> -->
    <div class="search">
      <input
        type="text"
        class="search-bar"
        [(ngModel)]="inputValue"
        placeholder="Search City | ZIP Code (US)"
      />
      <button (click)="search(inputValue, false)">
        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        <div class="sbl-circ"></div>
      </button>
    </div>

    <button class="currentLocation" onclick="getLocation()">
      Current Location
      <i
        class="fa-solid fa-location-arrow fa-lg"
        style="padding-left: 10px"
      ></i>
    </button>
    <!-- main weather content -->
    <div *ngIf="weatherData">
      <h2 class="city">
        {{ weatherData.name }}, {{ weatherData.sys.country }}
      </h2>
      <h1 class="temp">{{ weatherData.main.temp }}°F</h1>
      <div class="feelsLike" style="margin-top: -20px; margin-bottom: 20px">
        Feels Like: {{ weatherData.main.feels_like }}°F
      </div>
      <!-- toggle for F and C -->
      <!-- <label class="toggle" hidden>
        <input
          type="checkbox"
          id="check"
          name="check"
          onclick="weather.search()"
        />
        <span class="slider"></span>
        <span class="labels" data-on="°C" data-off="°F"></span>
      </label> -->
      <hr />
      <img
        [src]="
          'https://openweathermap.org/img/wn/' +
          weatherData.weather[0].icon +
          '.png'
        "
        alt=""
        class="icon"
      />

      <div class="description">{{ weatherData.weather[0].description }}</div>
      <div class="humidity">Humidity: {{ weatherData.main.humidity }}%</div>
      <hr />
      <div class="wind">Wind Speed: {{ weatherData.wind.speed }} mp/h</div>
      <div class="gust">Wind Gust: {{ weatherData.wind.gust }} mp/h</div>
      <hr />
      <div class="maxTemp">Max: {{ weatherData.main.temp_max }}°F</div>
      <div class="minTemp">Min: {{ weatherData.main.temp_min }}°F</div>
    </div>
  </div>
</div>
<app-footer *ngIf="weatherData" />
