@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #40809c;
  /* background-image: url("https://source.unsplash.com/1600x900/?landscape?weather"); */
  background-image: url("../src/assets/bg3.jpg");
  font-family: "Open Sans", sans-serif;
  background-size: cover;

  background-repeat: no-repeat;
  background-attachment: fixed;
  /* overflow-y: hidden; */
  user-select: none;
}
main {
  /* display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.addCard {
  background: #000000d0;
  opacity: 0.75;
  padding: 0.5rem;
  color: white;
  border-radius: 10px;
  border: 1px solid #2196f3;
}
.addCard:hover {
  background-color: #2196f3;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
