@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url("https://source.unsplash.com/1600x900/?landscape?weather"); */
  background-image: url("../src/assets/bg3.jpg");
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow-y: hidden;
  user-select: none;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
